@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cinzel, sans-serif;
    font-weight: 600;
}

/* navbar */

.navbar-custom {
    background-color: rgb(224,224,224, 0.3);
}

/* Image display */

#image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.image-div {
    position: relative;
}

/* Slogan */

.slogan {
    position: absolute;
    left: 30px;
    top: 60px;
}

.slogan>h3 {
    font-size: 22px;
    color: #EBF0EE;
}

/* Correct & Incorrect */

.correct {
  font-weight: 800;
}

.incorrect {
    font-weight: 400;
}

/* #hud + choices  */

.hud-choices {
    position: absolute;
    top: 75%;
    left: 12%;
    color: #EBF0EE;
}

#hud-item2 {
    padding-left: 40px;
}

.choice1 {
    font-size: 20px;
    transition: transform .2s;
}

.choice2 {
    font-size: 20px;
    padding-left: 60px;
    transition: transform .2s;
}

.choice1:hover {
    transform: scale(1.2);
}
.choice2:hover {
    transform: scale(1.2);
}